<div class="continer tour_provider">

  <div class="row tour_provider__top_image"></div>

  <div class="row tour_provider__title justify-content-center">
    <h3 class="col-3">ツアー新規登録</h3>
  </div>


  <%= form_with(model: @tour, url: tour_providers_tours_path(@tour), local: true) do |f| %>

     <form>
        <div class="align-self-start offset-1 form-group">

          <div class="row  tour_provider__row">
      <%= attachment_image_tag @tour, :image, :fill, 300, 300, fallback: "no_image.jpg", size:"300x300", class: "product-image" %>
      <%= f.attachment_field :image, id: "new-image" %>
      </div>
          <div class="row  tour_provider__row">
              <%= f.label :ツアー見出し文,class: "col-2" %>
              <%= f.text_field :tour_main_phrase, autocomplete: "tour_main_phrase", class: "form-contorol  offset-2 col-6" %>
          </div>
          <div class="row  tour_provider__row">
               <%= f.label :ツアー紹介文,class: "col-4" %>
               <%= f.text_field :tour_introduction, autocomplete: "tour_introduction", class: "form-contorol" %>
          </div>
          <div class="row  tour_provider__row">
               <%= f.label :注意事項,class: "col-4" %>
               <%= f.text_field :note, autocomplete: "note", class: "form-contorol" %>
          </div>
          <div class="row  tour_provider__row">
               <%= f.label :ツアー料金（一人当たり）,class: "col-4" %>
               <%= f.text_field :fee, autocomplete: "fee", class: "form-contorol" %>
          </div>
　　　  </div>
       <div class="actions  tour_provider__title">
            <%= f.submit "登録", class: "btn btn-info form-contorol offset-5" %>
       </div>
     </form>
  <% end %>






</div>