<div class="continer tour_provider">


	<div class="card bg-light offset-1 tour_provider__card" style="max-width: 70%;">
	  <div class="row no-gutters">
	    <div class="col-md-4">
	      <%= attachment_image_tag @tour_provider, :profile_image_id, :fill, 60, 60, format: 'jpeg', class: "tour_provider__profile_img", fallback: "no_image.jpg" %>
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">

			<table class="table">
                </tr>
					<th><%= @tour_provider.last_name %><%= @tour_provider.first_name %></th>
				</tr>
				<tr>
					<th><%= @tour_provider.tour_prefecture.name %><%= @tour_provider.tour_city %></th>
				</tr>
				<tr>
				    <th>
				    <% @tour_provider.tour_themes.each do |tour_theme| %>
				      <div class="tour_provider__tag">
				      	<i class="fa fa-chevron-right"></i>
					    <%= tour_theme.tour_theme_name %>
					  </div>
					<% end %>
					</th>
				</tr>
				</tr>
					<th><%= @tour_provider.profile_information %></th>
				</tr>
				</tr>
					<th><%= @tour_provider.tour_prefecture.name %><%= @tour_provider.tour_city %></th>
				</tr>
			    </tr>
					<th>
						<div class="tour_provider__sns">
						  <a href="<%= @tour_provider.twitter_url %>" rel="nofollow">
					        <i class="fa fa-twitter" aria-hidden="true"></i>
					      </a>						  <a href="<%= @tour_provider.facebook_url %>" rel="nofollow">
					        <i class="fa fa-facebook-official" aria-hidden="true"></i>
					      </a>
						  <a href="<%= @tour_provider.instagram_url %>" rel="nofollow">
					        <i class="fa fa-instagram" aria-hidden="true"></i>
					      </a>
					    </div>
					</th>
				</tr>
				</tr>
					<th><%= @tour_provider.blog_url %></th>
				</tr>
				<tr>
					<th>follows
					  <%#= link_to follow_user_path(user) do %>
						<%#= user.follower.count %>
					  <%# end %></th>
				</tr>
			</table>


	      </div>
	    </div>
	  </div>
	</div>


</div>